body {
    margin: 0pt 0pt 0pt 0pt;
    background-color: #3a3a3a;
}
#head_img {
    border-radius: 50%;
    height: 7em;
}
.my {
    font-size: 1.5em;
    height: 100vh;
    border-radius: 0pt 2% 2% 0;
    color:white;
    background-color: #242424;
    padding: 6em 2em;
    text-align: center;
    flex:0 0 25vw;
    box-sizing: border-box;
}
#home_page {
    display:flex;
    height: 100vh;
    flex-direction: row;
    justify-items: center;
}
#buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 75vw;
}
p.button {
    background-color: #2c2c2c;
    height: 50pt;
    width: 70vw;
    border-radius: 1em/1em;
    text-align: center;
}
a.button {
    color:#ffffff;
    text-decoration: none;
    font-size: 2.5em;
    font-family: Lucida Console;
}