body {
    margin: 0pt 0pt 0pt 0pt;
    background-color: #232433;
    height: 100vh;
    width: 100vw;
    color:white;
}
#head_img {
    border-radius: 50%;
    height: 5em;
}
#home_page {
    display:flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
    padding: 5% 5% 5% 5%;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#name {
    margin: 0.8em 0em 0em 0em;
}
hr {
    width: 90vw;
    flex:0 0 0.01em;
}
div#scentens {
    font-size: 0.6em;
    color:#9697af;
    text-align: left;
}
div#author {
    font-size: 0.6em;
    color:#9697af;
    text-align: right;
}
#scenten {
    display: flex;
    flex-direction: column;
}
.ying1 {
    text-align: left;
    width: 90vw;
    color: #414455;
    font-size: 2em;
}
.ying2 {
    text-align: right;
    width: 90vw;
    color: #414455;
    font-size: 2em;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.button {
    width: 8vw;
    height: 4.5vh;
    flex: 0 0 2vh;
    font-size: 0.7em;
    background-color: #ffffff00;
    border-radius: 7pt/7pt;
    border: 2pt solid #a7a7a7;
    transition-duration: 0.4s;
    color: white;
}
.button:hover {
    width: 8vw;
    height: 4.5vh;
    flex: 0 0 2vh;
    font-size: 0.7em;
    background-color: #a7a7a7;
    border-radius: 7pt/7pt;
    border: 2pt solid #a7a7a7;
    transition-duration: 0.4s;
    color: black;
}
#links {
    width: 90vw;
    background-color: #3c3e55;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 5vw;
    border-radius: 8pt/8pt;
}
.pdf {
    width: 20vw;
    height: 4.5vh;
    flex: 0 0 2vh;
    font-size: 0.7em;
    background-color: #ffffff00;
    border-radius: 7pt/7pt;
    border: 2pt solid #a7a7a7;
    transition-duration: 0.4s;
    color: white;
    margin-left: 5pt;
    margin-right: 5pt;
}
.pdf:hover {
    width: 20vw;
    height: 4.5vh;
    flex: 0 0 2vh;
    font-size: 0.7em;
    background-color: #ffffff;
    border-radius: 7pt/7pt;
    border: 2pt solid #ffffff;
    transition-duration: 0.4s;
    color: black;
    margin-left: 5pt;
    margin-right: 5pt;
}
.pdf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.pdf span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.pdf:hover span {
    padding-right: 25px;
}
.pdf:hover span::after {
    opacity: 1;
    right: 0;
}
.download {
    width: 8vw;
    height: 4.5vh;
    flex: 0 0 2vh;
    font-size: 0.7em;
    background-color: #ffffff00;
    border-radius: 7pt/7pt;
    border: 2pt solid #a7a7a7;
    transition-duration: 0.4s;
    color: white;
    margin-left: 5pt;
    margin-right: 5pt;
}
.download:hover {
    width: 8vw;
    height: 4.5vh;
    flex: 0 0 2vh;
    font-size: 0.7em;
    background-color: #ffffff;
    border-radius: 7pt/7pt;
    border: 2pt solid #ffffff;
    transition-duration: 0.4s;
    color: black;
    margin-left: 5pt;
    margin-right: 5pt;
}